
body{
background-image:url("images/image1.jpeg");
text-align: center;
}
nav {
float: left;
	z-index: auto;
	position: fixed;
	left: 0px;
	top: 70px;
    background-color: rgba(53,53,53,0.7) ;
	width: 150px;
	height:450px;	
    border-top-right-radius: 100px;
	border-bottom-right-radius: 60px;
    padding:10px;	
   }
   


nav {

 color:red;

}
form{
 color:red;
}
img{
	height: 300px;
	width: 300px;
	float: center;
	margin: 10%;
	border: 1px solid #333;	
	border-radius: 20px;
}
h1{
 color:red;
}

h3{
 color:red;
}

h4{
font-family: Comic Sans Ms;
 color:black;
 margin-left: 200px;
}
#button{
	width: 220px;
	height: 30px;
	border-radius: 11px;
	background-color:	#7FFFD4;
	
}
#name{
	width: 300px;
	height: 30px;
	border-radius: 11px;
	background-color:	#00FFFF ;
	
}
#question{
	width: 300px;
	height: 30px;
	border-radius: 11px;
	background-color:	#00FFFF ;
	
}

#password{
	width: 300px;
	height: 30px;
	border-radius: 11px;
	background-color:	#00FFFF ;
	
}
#News{
   background-color: White;
    height: auto;
	Width: auto;
   text-align:center;
}

h5{
  color:Gray;
  margin-left: 200px ;
  float: auto;
}
#Smart{
   background-color: rgba(53,53,53,0.7);
    height: auto;
	Width: auto  ;
   text-align:center;
}
#Smart img{
	height: 250px;
	width: 450px;
	float: left;
	margin: 6%;
	border: 1px solid #333;	
	border-radius: 10px;
}
#Smart h2{
  color: black;
  float:center-left;

}
#h1{
	font-family: Marker Felt fantasy;
   text-align:center;
}
#questionDiv h6{
	 border: 10px solid red;
    padding: 10px;
	 background-color: white;
    height: auto;
	Width: auto  ;
   text-align:center;
	font-family:Trattatello, fantasy;
 color:black;
 margin-left: 300px;	
 margin-right: 300px;
}
