@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
body, html {
    background-image: url(images/backgroundimg.jpg);
  font-family: 'Just Another Hand', cursive;
  overflow-X: hidden;
}
.container {
    float: center;
    text-align: center;
    color: rgba(0, 128, 79);
    padding: 20px;
    font-family:Trattatello, fantasy;
}
#psw{
	width: 300px;
	height: 30px;
	border-radius: 11px;
	background-color:rgb(238, 255, 2) ;
}
#massage{
    float: center;
    text-align: center;
	padding: 20px;
}
#message p {
	font-size: 15px;
}
h3 {
	text-align:center;
}
.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -5px;
	content: "✓";
}
.invalid {
	color: red;
}

.invalid:after {
	position: relative;
	left: 5px;
	content: "✗";
}
#lengthCounter{
	color: red;
}
#button{

	width: 220px;
	height: 30px;
	border-radius: 11px;
	background-color:rgb(255, 136, 0);
	
}
#name{

	width: 300px;
	height: 30px;
	border-radius: 11px;
	background-color:rgb(238, 255, 2) ;
	
}
#password{
	width: 300px;
	height: 30px;
	border-radius: 11px;
	background-color:rgba(238, 255, 2);
	
}
.menu , .submenu{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.menu_item{
	display: inline-block;
}
.menu_item a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
}
.menu_item a:hover{
	background-color: yellow;
	display: absolute;
}
.submenu{
	display: none;
	position: absolute;
}
.menu_item:hover .submenu{
	display: block;
}
.lin{
  float:center-left;

}
#none{
	display: inline;
}
 #img4{
  background-color: aqua;
  height: 100px ;
  width: auto;
 }
 .menu_item1{
  float:right;
}
.menu_item1 a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
}
.menu_item1 a:hover{
	background-color: yellow;
	display: absolute;
}
.menu_item1:hover {
	display: block;
}
#signup{
	float:center;
   text-align:center;
	font-family:Trattatello, fantasy;
 color:rgba(0, 128, 79);
 margin-left: 300px;	
 margin-right: 300px;
}
 
/*This code was wrote Narek Mardoyan!*/