@import url("https://fonts.googleapis.com/css?family=Just+Another+Hand");
body, html {
    background-image: url(images/backgroundimg.jpg);
  font-family: 'Just Another Hand', cursive;
  overflow-X: hidden;
  text-align: center;
}
#block3{
    display: inline-block;
}
a{
    text-decoration: none;
    color:aqua; 
}
#massage{
 background-color: white;
 border: 2px solid white;
 height: 220px;
 width:  220px;
 margin-left: 550px ;
 margin-left: 550px ;
 position: absolute;
}
/*This code was wrote Narek Mardoyan!*/